* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#modeButton {
  color: #f89494;
}

#meteorBack {
  background-color: #ecd501;
  width: 97px;
  height: 70px;
  z-index: -1;
  text-align: center;
  margin: auto;
  margin-top: -110px;
  margin-bottom: 30px;
  border-bottom-right-radius: 55px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header,
h2 {
  text-align: center;
}
#header-h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.endpoint-div {
  border: 2px solid #f89494;
  border-radius: 10px;
  padding: 20px;
  margin: 40px;
}
.endpoint-div > h3,
.endpoint-div > h4,
.endpoint-div > p,
.endpoint-div > div > ul,
.endpoint-div > ol {
  padding: 10px;
}

.blue {
  color: blue;
}
.green {
  color: green;
}
.fa-meteor {
  padding: 25px;
}
.horizontalRule {
  width: 95%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* side nav */
#leftSidenav {
  float: left;
}
#leftSidenav a {
  position: fixed;
  left: -200px;
  transition: 0.3s;
  padding: 15px;
  width: 205px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 0 5px 5px 0;
  text-align: left;
}
#leftSidenav a:hover {
  left: 0;
}

#rightSidenav {
  float: right;
}
#rightSidenav a {
  position: fixed;
  right: -200px;
  transition: 0.3s;
  padding: 15px;
  width: 205px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 5px 0px 0px 5px;
  text-align: right;
}

#rightSidenav a:hover {
  right: 0;
}

.greenNav {
  background-color: #4caf50;
}
.blueNav {
  background-color: #2196f3;
}
.redNav {
  background-color: #f44336;
}
.blackNav {
  background-color: #555;
}

.first {
  top: 20px;
}
.second {
  top: 80px;
}
.third {
  top: 140px;
}
.fourth {
  top: 200px;
}
.fifth {
  top: 260px;
}
#sixth {
  top: 320px;
}

/* NAVIGATION button */
#navButton {
  /* display: none; */
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  border: 2px solid cyan;
  outline: none;
  background-color: #f89494;
  color: #ecd501;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}

footer {
  background-color: #f89494;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

#releaseInfo{
  position: absolute;
  top: 0;
  margin-left: 50px;
  margin-top: 30px;
}

table{
  border-collapse: collapse;
}

td,th{
  border: 2px solid #f89494;
  padding: 5px;
}

th{
  text-align: left;
}

@media screen and (max-width: 597px) {
  .endpoint-div {
    overflow: scroll;
  }
  footer {
    text-align: left;
  }
  table{
    width: 100%;
  }
}
@media screen and (max-width: 400px){
  table{
    width: 150%;
  }
}
