*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header,h2{
    text-align: center;
}
#header-h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.endpoint-div{
    border: 2px solid #f89494;
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
}
.endpoint-div > h3,
.endpoint-div > h4,
.endpoint-div > p,
.endpoint-div > div > ul,
.endpoint-div > ol{
    padding: 10px;
}

.blue{
    color: blue;
}
.green{
    color: green;
}
.horizontalRule{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (max-width: 553px){
    .endpoint-div{
        overflow: scroll;
    }
}

footer{
    background-color: #f89494;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}


/* side nav */
#leftSidenav{
    float: left;
}
#leftSidenav a {
    position: fixed;
    left: -200px;
    transition: 0.3s;
    padding: 15px;
    width: 205px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align: left;
}
#leftSidenav a:hover {
  left: 0;
}

#rightSidenav{
    float: right;
}
#rightSidenav a {
    position: fixed;
    right: -200px;
    transition: 0.3s;
    padding: 15px;
    width: 205px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px 0px 0px 5px;
    text-align: right;
}

#rightSidenav a:hover {
  right: 0;
}

.greenNav{
    background-color: #4CAF50;
}
.blueNav{
    background-color: #2196F3;
}
.redNav{
    background-color: #f44336;
}
.blackNav{
    background-color: #555;
}

.first   { top: 20px;  }
.second  { top: 80px;  }
.third   { top: 140px; }
.fourth  { top: 200px; }
.fifth   { top: 260px; }
#sixth   { top: 320px; }